<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Kuick" type="Kuick.ConfigHandler, Kuick, Version=1.0.0.0, Culture=neutral, PublicKeyToken=22cea8978f55d8dd"/>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages enableViewState="false" enableViewStateMac="false" viewStateEncryptionMode="Never">
			<namespaces>
				<add namespace="Kuick"/>
				<add namespace="Kuick.Data"/>
				<add namespace="Kuick.Web"/>
				<add namespace="Kuick.Web.UI"/>
				<add namespace="Kuick.Web.UI.Bootstrap"/>
			</namespaces>
		</pages>
	</system.web>
	<Kuick>
		<kernel>
			<add name="AppID" value="KuickWebSite"/>
		</kernel>
		<database>
			<add name="Default" vender="MSSQL" connectionString="Data Source=.;Initial Catalog=Test;User ID=tester;Password=kevinjong;Max Pool Size=10;"/>
		</database>
		<application>
			<add group="Log" name="RefreshSize" value="1020"/>
			<add group="Data" name="Concurrency" value="True"/>
			<add group="Data" name="Alterable" value="True"/>
			<add group="Data" name="Regulating" value="False"/>
		</application>
	</Kuick>
</configuration>